/*
.linkNav {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
}


.fondoAgua {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/Images/agua.jpg);
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
    }

.poolClean {
    flex-wrap: wrap;
    display: flex;
    font-size: 3rem;
    justify-content: center;
} 

.empresa {
    padding: 2rem;
    font-size: 1.5rem;
}

.texto{
    text-align: center;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: xx-large;
    font-weight: lighter;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.tarjetaLimpiezas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/limpiezascard2.jpg);
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    transition: all 2s;
}

.tituloCard{ 
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    color: rgb(255, 255, 255);
}

.parrafoCard{
    margin-top: 2rem;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media (max-width:540px){
    .parrafoCard{
        margin-top: 2rem;
        font-size: large;
        font-weight: lighter;
        text-align: center;
        color: rgb(255, 255, 255); 
    }
}

.tarjetaLimpiezas:hover{
    transform: scale(1.1);
    border-radius: 2rem;
}

@media (max-width: 1200px){
    .tarjetaLimpiezas{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
        background-repeat: no-repeat;
        background-size:cover ;
        border: 0;
        transition: all 2s;
        padding: 3rem;
    }
}

.tarjetaMantenimientos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/manteniminetocard2.jpg);
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;

    transition: all 2s;
}

.tarjetaMantenimientos:hover{
    transform: scale(1.1);
    border-radius: 2rem;
}

@media (max-width:1200px){
    .tarjetaMantenimientos{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    margin-bottom: 5rem;
    transition: all 2s;
    }

}

.tarjetaProductos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/Productoscard2.jpg);
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    transition: all 2s;
}

.tarjetaProductos:hover{
    transform: scale(1.1);
    border-radius: 2rem;
}

@media (max-width:1200px){
    .tarjetaProductos{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
        padding: 3rem;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        transition: all 2s; 
    }

.fondoFooter{
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));}
}
.estiloLink{
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.061);
    padding: 1rem;
    margin: auto;
}

.linkFooter{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: larger;
}

.textoFooter{
    font-weight: lighter;
    display: block;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}
*/


$colorLinkhover: rgb(0, 153, 230);
$texto: rgb(255, 255, 255);
$bordesColor: rgb(255, 255, 255);
$tituloCard: xx-large;
$parrafoCard: x-large;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgba(1, 0, 41, 0.35);
}



header{
     .linkNav{
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
    }
    .linkNav:hover{
        color: $colorLinkhover;
    }
    
}

main{
    .fondoAgua {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../assets/Images/agua.jpg);
        text-align: center;
        color: $texto;
        padding-top: 8rem;
        padding-bottom: 8rem;
        margin-bottom: 5rem;

            .poolClean {
            flex-wrap: wrap;
            display: flex;
            font-size: 3rem;
            justify-content: center;
            }

        .empresa {
        padding: 2rem;
        font-size: 1.5rem;
        }    
    }
   .container{
        .row{
            .texto{
            text-align: center;
            color: $texto;
            padding-top: 4rem;
            padding-bottom: 4rem;
            font-size: xx-large;
            font-weight: lighter;
            border-top: 2px solid $bordesColor;
            border-bottom: 2px solid $bordesColor;
            }
        }
    }
    
    @media (max-width: 540px){
        .container{
            .row{
                .texto{
                    font-size: x-large;
                }

            }
        }
        
    }


    .container{
        .row{
                .tarjetaLimpiezas{
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/limpiezascard2.jpg);
                padding: 3rem;
                background-repeat: no-repeat;
                background-size: cover;
                border: 0;
                transition: all 2s;
                    .tituloCard{
                    font-weight: lighter;
                    font-size: $tituloCard;
                    text-align: center;
                    color: $texto;
                    }
                    .parrafoCard{
                    margin-top: 2rem;
                    font-size: $parrafoCard;
                    font-weight: lighter;
                    text-align: center;
                    color: $texto;
                }

                .boton{
                    display: block;
                    margin:auto;
                    margin-top: 5rem;
                }
            }

        }
    }

    @media (max-width:540px){
        .container{
            .row{
                .tarjetaLimpiezas{
                    .parrafoCard{
                        margin-top: 2rem;
                        font-size: large;
                        font-weight: lighter;
                        text-align: center;
                        color: $texto; 
                    }
                }
            }
        }
    }
        @media (max-width: 1200px){
        .container{
            .row{
                .tarjetaLimpiezas{
                    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
                    background-repeat: no-repeat;
                    background-size:cover ;
                    border: 0;
                    transition: all 2s;
                    padding: 3rem;
                    }
                }
            }
        
        }
    
    
    .tarjetaLimpiezas:hover{
        transform: scale(1.1);
        border-radius: 2rem;
        }

        .container{
            .row{
                    .tarjetaMantenimientos{
                    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/manteniminetocard2.jpg);
                    padding: 3rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 0;
                    transition: all 2s;
                        .tituloCard{
                        font-weight: lighter;
                        font-size: $tituloCard;
                        text-align: center;
                        color: $texto;
                        }
                        .parrafoCard{
                        margin-top: 2rem;
                        font-size: $parrafoCard;
                        font-weight: lighter;
                        text-align: center;
                        color: $texto;
                    }

                    .boton{
                        display: block;
                        margin:auto;
                        margin-top: 5rem;
                    }
                }
    
            }
        }

        @media (max-width:540px){
            .container{
                .row{
                    .tarjetaMantenimientos{
                        .parrafoCard{
                            margin-top: 2rem;
                            font-size: large;
                            font-weight: lighter;
                            text-align: center;
                            color: $texto; 
                        }
                    }
                }
            }
        }

        @media (max-width: 1200px){
            .container{
                .row{
                    .tarjetaMantenimientos{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
                        background-repeat: no-repeat;
                        background-size:cover ;
                        border: 0;
                        transition: all 2s;
                        padding: 3rem;
                        }
                    }
                }
            
            }

        .tarjetaMantenimientos:hover{
        transform: scale(1.1);
        border-radius: 2rem;
        }

        .container{
            .row{
                    .tarjetaProductos{
                    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/Productoscard2.jpg);
                    padding: 3rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 0;
                    transition: all 2s;
                        .tituloCard{
                        font-weight: lighter;
                        font-size: $tituloCard;
                        text-align: center;
                        color: $texto;
                        }
                        .parrafoCard{
                        margin-top: 2rem;
                        font-size: $parrafoCard;
                        font-weight: lighter;
                        text-align: center;
                        color: $texto;
                    }

                    .boton{
                        display: block;
                        margin:auto;
                        margin-top: 5rem;
                    }
                }
    
            }
        }

        @media (max-width:540px){
            .container{
                .row{
                    .tarjetaProductos{
                        .parrafoCard{
                            margin-top: 2rem;
                            font-size: large;
                            font-weight: lighter;
                            text-align: center;
                            color: $texto; 
                        }
                    }
                }
            }
        }

        @media (max-width: 1200px){
            .container{
                .row{
                    .tarjetaProductos{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/Images/agua.jpg);
                        background-repeat: no-repeat;
                        background-size:cover ;
                        border: 0;
                        transition: all 2s;
                        padding: 3rem;
                        }
                    }
                }
            
            }

        .tarjetaProductos:hover{
        transform: scale(1.1);
        border-radius: 2rem;
        }

}

    .fondoFooter{
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    
        .estiloLink{
        border-radius: 1rem;
        background-color: rgba(249, 249, 249, 0.061);
        padding: 1rem;
        margin: auto;
        .mapa{
            display: block;
            text-align: center;
        }
        .box{
            display: block;
            text-align: center;
        }
         .linkFooter{
                text-decoration: none;
                color: $texto;
                font-weight: lighter;
                font-size: larger;
                
            }
        }
            
    }

    
    .container{
        .row{
            .textoFooter{
                font-weight: lighter;
                display: block;
                margin: auto;
                border-radius: 1rem;
                padding: 1rem;
                color: $texto;
                text-align: center;
            }
        }
    }
    

.fondoFooter{
    .estiloLink{
        
            .linkFooter:hover{
                color: $colorLinkhover;
            }
        
    }
}
.container-fluid{
    .row{
        .fondoAgua{
            .mantenimientos{
                display: flex;
                font-size: 3rem;
                justify-content: center;
            }
            .empresaIdeal{
                padding: 2rem;
                font-size: 1.5rem;
            }
        }
    }
}

main{
    .fondoTexto{
        .container{
            .row{
                .textoMantenimiento{
                    text-align: center;
                    color: $texto;
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                    font-size: xx-large;
                    font-weight: lighter;
                    border-top: 2px solid $bordesColor;
                    border-bottom: 2px solid $bordesColor;
                }
            }
        }
    }
    
    .container{
        .row{
            .tarjetaPlanes{
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
                transition: all 2s;
                .card-body{
                    .tituloCard{
                        font-weight: lighter;
                        font-size: $tituloCard;
                        text-align: center;
                        color: $texto;
                    }
                    .parrafoCard{
                        margin-top: 2rem;
                        font-size: $parrafoCard;
                        font-weight: lighter;
                        text-align: center;
                        color: $texto;
                    }
                    .botonPlanes{
                        display: block;
                    }
                }
            }
        }
    }
}


main{
    .container{
        .row{
            .tarjetaPlanes:hover{
                transform: scale(1.1);
                border-radius: 2rem;
            }
        }
    }
}


@media (max-width: 540px){
    main{
        .fondoTexto{
            .container{
                .row{
                    .textoMantenimiento{
                        font-size: x-large;
                    }
                }
            }
        }
    }
    
    
}



.container{
    .row{
        .textoLimpiezas{
            text-align: center;
            color: $texto;
            padding-top: 6rem;
            padding-bottom: 6rem;
            font-size: xx-large;
            font-weight: lighter;
            border-top: 2px solid $bordesColor;
            border-bottom: 2px solid $bordesColor;
        }
        
        .precioLimpieza{
            color: $texto;
            font-size: xx-large;
            text-align: center;
            margin-bottom: 5rem;
            font-weight: lighter;
        }
    }

}

@media (max-width: 540px){
    .container{
        .row{
            .textoLimpiezas{
                font-size: x-large;
            }
        }
    }  
}


main{
    .formularioFondo{
        background-color: rgba(1, 0, 41, 0.35);
    }

    .formulario{
        padding-top: 7rem;
        padding-bottom: 7rem;
        .lineaFormulario{
            padding: 1rem;
        }
        .letraForm{
            font-size: 1rem;
            font-weight: lighter;
            color: $texto;
        }
    }
}

main{
    .container-fluid{
        .row{
            .fondoAgua{
                .ventaDeproductos{
                    display: flex;
                    font-size: 3rem;
                    justify-content: center;
                }
            }
        }
    }
}

main{
    .container{
        .row{
            .textoContacto{
                text-align: center;
                color: $texto;
                padding-top: 6rem;
                padding-bottom: 6rem;
                font-size: xx-large;
                font-weight: lighter;
                border-top: 2px solid $bordesColor;
                border-bottom: 2px solid $bordesColor;
            }
        }
    }
}
